<!DOCTYPE html>
<html>
<!-- stock head file that contains all pages metadata-->
<head>
 <%-include ('head.ejs') -%> 
</head>
<body>
  <header>
  <%-include ('header.ejs') -%>
  </header>
   <div class="row">
     <!-- lay bien products de bo vo bien moi ten product-->
    <% products.forEach(function(product){ %> 
     <div class="col-sm-4">
       <div class="product-card">
         <img src="/static/images/<%= product.image %>" alt="Backpack Swag" style="width:100%"/>
         <h1><%= product.name %></h1>
         <p class="price">$<%=product.price.toFixed(2)%></p>
         <p><%=product.description %></p>
         <p><button onclick="/cart?id=product.id">Add to Cart</button></p>
       </div> 
     </div>
    <%});%> 
  </div>
  <footer class = "container-fluid text-center">
    <%-include ('footer.ejs') -%>
  </footer>
  <script>
    function cart(id) {

    }
  </script>
</body>
</html>
