<!DOCTYPE html>
<html>
<!-- stock head file that contains all pages metadata-->
<head>
 <%-include ('head.ejs') -%> 
 <link rel="stylesheet" href="/static/styles/browse.css" />
</head>
<body>
  <header>
    <%-include ('header.ejs') -%>
  </header>
  <div class="content-container">
    <div class="row">
      <% products.forEach(function(product){ %> 
        <div class="col-sm-4">
          <div class="product-card">
            <div class="img-container">
              <img class="product-image" src="/static/images/<%= product.image %>" alt="Swag image" />
            </div>
            <h1><%= product.name %></h1>
            <p class="price">$<%=product.price.toFixed(2)%></p>
            <p><%= product.description %></p>
            <p><button onclick="add_to_cart('<%= product.id %>')">Add to Cart</button></p>
          </div> 
        </div>
      <%});%> 
    </div>
  </div>
  <footer class="container-fluid text-center">
    <%-include ('footer.ejs') -%>
  </footer>
  <script>
    function add_to_cart(id) {
      console.log(id);

      $.post('/api/cart/add', { productId: id }, (data, status) => {
        // Handle response data, or do nothing
        console.log(data);
        console.log(status);
        $('#badge-cart-size').text(data.products.reduce((total, product) => {
          return total + product.quantity;
        }, 0));
      });
    }
  </script>
</body>
</html>
