<!DOCTYPE html>
<html>
<!-- stock head file that contains all pages metadata-->
<head>
 <%-include ('head.ejs') -%> 
</head>
<body>
  <header>
  <%-include ('header.ejs') -%>
  </header>
  <% products.forEach(function(product){ %>
    <div class="product-card">
      <img src="/static/images/<%= product.image %>" alt="Backpack Swag" height="150"/>
      <h1><%= product.name %></h1>
      <p class="price">$<%=product.price.toFixed(2)%></p>
      <p>Product Description</p>
      <p><button>Add to Cart</button></p>
    </div> 
   <%});%>
  <footer class = "container-fluid text-center">
    <%-include ('footer.ejs') -%>
  </footer>
</body>
</html>
